@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes title {
  0% { opacity: 0; top: -2%; }
  20% { opacity: 0; top: -2%; }
  100% { opacity: 1; top: 15%; }
}

@keyframes bottomlogo {
  0% { opacity: 0; top: 102%; }
  20% { opacity: 0; top: 102%; }
  100% { opacity: 1; top: 80%; }
}

@keyframes bar {
  0% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes toplogo {
  0% { opacity: 0; }
  90% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes arrow {
  0% { opacity: 0; transform: scale(0.7, 0.7);}
  90% { opacity: 0; transform: scale(0.7, 0.7); }
  100% { opacity: 1; transform: scale(1, 1); }
}

@keyframes toplogo {
  0% { opacity: 0; }
  90% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes buttons {
  0% { opacity: 0; top: 102%; }
  90% { opacity: 0; top: 102%; }
  100% { opacity: 1; top: 80%; }
}

@keyframes rotate {
  0% { transition: rotate(0deg); }
  100% { transition: rotate(90deg);}
}


html, body {
  margin: 0;
  overflow: hidden;
  background: #fff;
}

#box {
  background: url(/assets/images/bg_tablet.jpg) no-repeat center;
  background-size: 100% 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  width: calc((84vw + 33vh));
  height: calc((56vw + 22vh));
  min-width: 100vw;
  min-height: 66vw;
  animation: fadein 0.5s ease-in-out;
}

#title, #bar, #top-logo, #bottom-logo, #explore, #learn, #options, .arrow {
  position: absolute;
  left: 5.6%;
  /opacity: 0 !important;/
}

#title {
  width: 28.86%;
  height: 21%;
  background: url(/assets/images/image_sheet_general_3.png);
  background-position: 83.5% 73.1%;
  background-size: 295%;
  top: 15%;
  opacity: 1;
  animation: title 3s ease-out;
}

#bar {
  width: 28.33%;
  height: 2.9%;
  top: 35.5%;
  background: url(/assets/images/image_sheet_general_2.png);
  background-position: 0 99.7%;
  background-size: 301%;
  opacity: 1;
  animation: bar 4s ease-out;
}

#top-logo {
  width: 9.75%;
  height: 7.1%;
  top: 40.5%;
  background: url(/assets/images/image_sheet_general_0.png);
  background-position: 84.5% 0;
  background-size: 891%;
  opacity: 1;
  animation: toplogo 4.5s ease-out;
}

#bottom-logo {
  width: 23.24%;
  height: 7.1%;
  top: 80%;
  background: url(/assets/images/image_sheet_general_0.png);
  background-position: 0 99.8%;
  background-size: 369%;
  opacity: 1;
  animation: bottomlogo 2.5s ease-out;
}

#explore {
  width: 24.36%;
  height: 8.1%;
  top: 80%;
  left: 45%;
  background: url(/assets/images/image_sheet_general_2.png);
  background-position: 0 95.3%;
  background-size: 352%;
  opacity: 1;
  animation: buttons 7s ease-out;
}

#explore:active {
  background: url(/assets/images/image_sheet_general_1.png);
  background-size: 352%;
  background-position: 0 99.9%;
}

#learn {
  width: 24.36%;
  height: 8.1%;
  top: 80%;
  left: 71%;
  background: url(/assets/images/image_sheet_general_1.png);
  background-position: 39.9% 99.9%;
  background-size: 352%;
  opacity: 1;
  animation: buttons 7s ease-out;
}

#learn:active {
  background-position: 79.8% 99.9%;
}

#options {
  width: 11.70%;
  height: 3.3%;
  top: 75%;
  left: 85.3%;
  background: url(/assets/images/image_sheet_general_0.png);
  background-position: 95% 43.9%;
  background-size: 950%;
  animation: fadein 0.5s ease-in-out;
  opacity: 1;
}

.arrow {
  width: 2.9%;
  height: 4.55%;
  background: url(/assets/images/image_sheet_general_0.png) -974px -148px;
  background-position: 99.1% 14.8%;
  background-size: 2550%;
  opacity: 1;
  transition: all 2s ease-in-out;
  transform: rotate(0deg);
}

.arrow.rotated {
  transform: rotate(90deg);
}

#arrow-1 {
  top: 37.7%;
  left: 38%;
  animation: arrow 5s ease-out;
}

#arrow-2 {
  top: 25.4%;
  left: 68%;
  animation: arrow 5.3s ease-out;
}

#arrow-3 {
  top: 32.7%;
  left: 86%;
  animation: arrow 5.6s ease-out;
}

#arrow-4 {
  top: 66.3%;
  left: 77.5%;
  animation: arrow 5.9s ease-out;
}

#arrow-5 {
  top: 73.7%;
  left: 34.5%;
  animation: arrow 6.2s ease-out;
}

#overlay {
  background: url(/assets/images/overlay.png);
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  opacity: 0;
  display: none;
}

@keyframes showandfadein {
  0% { opacity: 0; display: none; }
  1% { opacity: 0; display: block; }
  60% { opacity: 0; display: block; }
  100% { opacity: 1; display: block; }
}

@keyframes showandfadeinlate {
  0% { opacity: 0; display: none; }
  1% { opacity: 0; display: block; }
  40% { opacity: 0; display: block; }
  100% { opacity: 1; display: block; }
}

.visible-overlay {
  opacity: 1 !important;
  display: block !important;
  animation: showandfadein 1.5s ease-in-out;
}

.visible-carousel {
  opacity: 1 !important;
  display: block !important;
  animation: showandfadeinlate 2.5s ease-in-out;
}

.carousel {
  width: 62%;
  height: 65.5%;
  background: #fff;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 16vh;
  display: none;
  z-index: 40;
  overflow: hidden;
}

.carousel .controls {
  position: absolute;
  width: 100%;
  height: 100%;
}

.carousel .controls .left, .carousel .controls .right {
  position: absolute;
  top: 39%;
  transform: translateY(-50%);
  width: 7.6%;
  height: 11%;
  background: url(/assets/images/image_sheet_general_0.png);
  background-size: 1650%;
  z-index: 20;
  cursor: pointer;
}

.carousel .controls .close {
  position: absolute;
  top: 0%;
  width: 7.6%;
  height: 11%;
  background: url(/assets/images/image_sheet_general_0.png);
  background-size: 1650%;
  background-position: 94.2% 8.5%;
  z-index: 20;
  cursor: pointer;
}

.carousel .controls .left {
  left: 0;
  background-position: 87.5% 15.7%;
}

.carousel .controls .right {
  right: 0;
  background-position: 80.1% 29.9%;
}

.carousel .slider {
  position: relative;
  width: 500%;
  height: 100%;
  transition: all .3s;
}

.carousel .slider .slide {
  position: relative;
  width: 20%;
  height: 100%;
  float: left;
}

.carousel .slider .img {
  position: relative;
  width: 100%;
  height: 78%;
}

.carousel .slider .title {
  position: relative;
  width: 88%;
  margin: 4% 4% 0;
  height: 4.1%;
}

.carousel .slider .description {
  position: relative;
  width: 88%;
  margin: 2% 4%;
  height: 4.1%;
}

#carousel-1 #slide-1 .img {
  background: url(/assets/images/image_sheet_general_0.png);
  background-position: 0 71%;
  background-size: 134%;
}

#carousel-1 #slide-1 .title {
  background: url(/assets/images/image_sheet_general_2.png) 80% -109.1%;
  background-size: 155%;
}

#carousel-1 #slide-1 .description {
  background: url(/assets/images/image_sheet_general_2.png) 93% -104.7%;
  background-size: 155%;
}

#carousel-1 #slide-2 .img {
  background: url(/assets/images/image_sheet_general_1.png);
  background-position: 0 0;
  background-size: 134%;
}

#carousel-1 #slide-2 .title {
  background: url(/assets/images/image_sheet_general_0.png);
  background-position: 76.5% 98%;
  background-size: 155%;
}

#carousel-1 #slide-2 .description {
  background: url(/assets/images/image_sheet_general_2.png);
  background-position: 80% 93%;
  background-size: 155%;
}

#carousel-1 #slide-3 .img {
  background: url(/assets/images/image_sheet_general_2.png);
  background-position: 0 0;
  background-size: 134%;
}

#carousel-1 #slide-3 .title {
  background: url(/assets/images/image_sheet_general_2.png);
  background-position: 0 97.5%;
  background-size: 232%;
  width: 59%;
}

#carousel-1 #slide-3 .description {
  background: url(/assets/images/image_sheet_general_0.png);
  background-position: 63% 96%;
  background-size: 175%;
}

#carousel-1 #slide-4 .img {
  background: url(/assets/images/image_sheet_general_1.png);
  background-position: 0 71%;
  background-size: 134%;
}

#carousel-1 #slide-4 .title {
  background: url(/assets/images/image_sheet_general_2.png);
  background-position: 72.7% 97.5%;
  background-size: 246%;
  width: 55%;
}

#carousel-1 #slide-4 .description {
  background: url(/assets/images/image_sheet_general_2.png);
  background-position: 64.5% 91%;
  background-size: 179%;
}

#carousel-1 #slide-5 .img {
  background: url(/assets/images/image_sheet_general_0.png);
  background-position: 0 0;
  background-size: 134%;
}

#carousel-1 #slide-5 .title {
  background: url(/assets/images/image_sheet_general_0.png);
  background-position: 95.5% 35.1%;
  background-size: 465%;
  width: 34.5%;
}

#carousel-1 #slide-5 .description {
  background: url(/assets/images/image_sheet_general_0.png);
  background-position: 94.7% 37.2%;
  background-size: 479%;
  width: 33.5%;
}